:root, select, option, textarea, input, button {
	font-size: 16px;
	font-family: "Courier", monospace;
}

body {
	min-height: 100vh;
	min-width: 100vw;
	margin: 0;
	box-sizing: border-box;
}

.bottom-bar {
	position: fixed;
	bottom: 0;
	height: 9em;
	background: #3f48cc;
	width: 100%;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	gap: 0.5em;
}

.bottom-bar textarea {
	width: 75%;
	height: 100%;
	box-sizing: border-box;
	resize: none;
}

.bottom-bar textarea,
.bottom-bar select,
.bottom-bar option,
.bottom-bar button,
.bottom-bar label {
	border: 0;
	border-radius: 3px;
	cursor: pointer;
}

.bottom-bar textarea {
	cursor: text;
}


.bottom-bar .stacked {
	display: flex;
	flex-direction: column;
	width: 12em;
	justify-content: space-around;
	gap: 0.5em;
	max-height: 100%;
}

.bottom-bar .stacked,
.bottom-bar .stacked select,
.bottom-bar .stacked option,
.bottom-bar .stacked button,
.bottom-bar .stacked label {
	text-align: center;
	width: 12em;
	height: 10em;
	box-sizing: border-box;
	vertical-align: middle;
}

.bottom-bar .stacked label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #ed1c42;
    padding: 3px;
    line-height: 2em;
}

.bottom-bar .stacked input {
	visibility: hidden;
	display: none;
}

.bottom-bar .stacked input:checked + label {
	background: #22b14c;
}

.bottom-bar .stacked select,
.bottom-bar .stacked option {
	background: #fff200;
}

.bottom-bar .send-message-button {
	background: #c8bfe7;
}
